.container {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  width: 70px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger-icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 33px;
  width: 25px;
  cursor: pointer;
}

.hamburger-icon > span {
  width: 40px;
  height: 3px;
  background: #04985a;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon:hover span:nth-child(1) {
  width: 25px;
}

.hamburger-icon:hover span:nth-child(2) {
  width: 30px;
}

.hamburger-icon.active span:nth-child(1) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg) translate(-12px, 12px);
          transform: rotate(-45deg) translate(-12px, 12px);
  width: 55px;
}

.hamburger-icon.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.hamburger-icon.active span:nth-child(3) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  width: 55px;
}

.hamburger-icon::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
}

.hamburger-icon::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 4px;
}

.line-1 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.line-2 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  overflow: hidden;
  padding-right: 1rem;
  padding-top: 50%;
  visibility: hidden;
}

.nav-list.open {
  visibility: visable;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

body {
  padding-top: 200px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  overflow: hidden;
  width: 170px;
  margin-left: 15px;
}

.logo img {
  display: block;
  width: 100%;
  margin: -22.75% 0;
}

.nav-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  border-bottom: 2px solid #ddd;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 100vw;
}

.text-section {
  font-size: 22px;
  letter-spacing: 1.5px;
}

.text-section > h2 {
  margin-top: 35px;
  padding: 0 2rem;
  line-height: 1.5;
}

.discover {
  margin-top: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover-btn {
  width: 92%;
  height: 3.45em;
  font-size: 22px;
  letter-spacing: .5px;
  font-weight: bold;
  color: white;
  background: #028a51;
  border-radius: 2em;
  border: none;
  margin: 0 auto;
}

.discover-btn:hover {
  background: #037948;
  cursor: pointer;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12em;
}

.services-section > h2 {
  font-size: 32px;
  letter-spacing: 1.2px;
}

.animal-lovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5em;
  width: 100%;
}

.lady-n-dog {
  margin: auto 1em;
  width: 50vw;
  height: 50vw;
}

.guy-n-cat {
  margin: auto 1em;
  width: 50vw;
  height: 50vw;
}

.info {
  margin-top: 3.5em;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4em 0;
}

.info-icon > img {
  height: 50px;
  width: 50px;
  margin: 0 3.6vw;
}

.info-text > h3 {
  font-size: 24px;
  font-weight: 400;
}

.info-text > p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  color: #666;
}

.booking {
  margin: 3em 1.5em;
}

.booking-panel {
  border: 2.38px solid #dddcdc;
  border-radius: 7px;
  height: 8em;
}

.booking-panel-header {
  height: 5vh;
}

.booking-panel-btn {
  width: 92%;
  height: 3.45em;
  font-size: 22px;
  letter-spacing: .5px;
  font-weight: bold;
  color: white;
  background: #028a51;
  border-radius: 2em;
  border: none;
  margin: 0 auto;
}

.booking-panel-btn:hover {
  background: #037948;
  cursor: pointer;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.booking-footer {
  margin-top: 3.5vh;
  font-size: 20px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */