* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 200px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
overflow: hidden;
margin: 0;
width: 200px;
}

.logo img {
display: block;
width: 100%;
margin: -22.75% 0;
}

.nav-list li {
    flex: 1;
}

.nav {
    // background: #eee;
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    border-bottom: 2px solid #ddd;

    &-list {
        display: flex;
        // flex-grow: 1;
        margin-left: auto;
        width: 100vw;
        // margin: 0;
        // padding: 0;
    }
}

