@import 'menu';
$btn-color: #028a51;
$btn-hover-color: #037948;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    padding-top: 200px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    overflow: hidden;
    width: 170px;
    margin-left: 15px;
}

.logo img {
    display: block;
    width: 100%;
    margin: -22.75% 0;
}

.nav-list li {
    flex: 1;
}

.nav {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: 2px solid #ddd;

    &-list {
        display: flex;
        margin-left: auto;
        width: 100vw;
    }
}

.text-section {
    font-size: 22px;
    letter-spacing: 1.5px;

    & > h2 {
        margin-top: 35px;
        padding: 0 2rem; 
        line-height: 1.5;
    }
}

.discover {
    margin-top: 1.8em;
    display: flex;
    align-items: center;

    &-btn{
        width: 92%;
        height: 3.45em;
        font-size: 22px;
        letter-spacing: .5px;
        font-weight: bold;
        color: white;
        background: $btn-color;
        border-radius: 2em;
        border: none;
        margin: 0 auto;
    }

    &-btn:hover {
        background: $btn-hover-color;
        cursor: pointer;
        transition: all ease-in 0.1s;
    }
}

.services-section {
    display: flex;
    justify-content: center;
    margin-top: 12em;

    & > h2 {
        font-size: 32px;
        letter-spacing: 1.2px;
    }
}

.animal-lovers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    width:100%;
}

.lady-n-dog {
    margin: auto 1em;
    width: 50vw;
    height: 30vh;
}

.guy-n-cat {
    margin: auto 1em;
    width: 50vw;
    height: 30vh;
}

.info {
    margin-top: 3.5em;

    &-section {
        display: flex;
        margin: 4em 0;
    }

    &-icon > img {
        height: 50px;
        width: 50px;
        margin: 0 3.6vw;
    }
}

.info-text {
    & > h3 {
        font-size: 24px;
        font-weight: 400;
    }
    
    & > p {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 400;
        color: #666;
    }
}

.booking {
    margin: 3em 1.5em;

    &-panel {
        display: flex;
        flex-direction: column;
        border: 2.38px solid rgb(221, 220, 220);
        border-radius: 7px;
        height: 505px;
        font-size: 24px;

        &-header {
            display: flex;
            align-items: start;
            padding: 2rem 4em 1rem;
            background-color: #f4f5f6;
            text-align: center;
            border-bottom: 2.38px solid rgb(221, 220, 220);
        }

        &-body {
            margin: 1.8rem;
            justify-content: space-between;
        }

        &-body > div {
            display: flex;
            margin: 1rem;
            margin-bottom: 0;
        }

        &-btn {              
            width: 92%;
            height: 3.4em;
            font-size: 22px;
            letter-spacing: .5px;
            font-weight: bold;
            color: white;
            background: $btn-color;
            border-radius: 2em;
            border: none;
            margin: 0 auto;
        }

        &-btn:hover {
            background: $btn-hover-color;
            cursor: pointer;
            transition: all ease-in 0.1s;
        }
    }

    &-footer {
        margin-top: 3.5vh;
        font-size: 20px;
        text-align: center;
    }
}

.heart-shield {
    margin: 0 10px 0 0;
}

.link {
    color: #157a87;
}

.link:hover {
    color: black;
    text-decoration: underline;
}

.link:visited {
    color: none;
}

.checkmark {
    width: 22px;
    height: 22px;
}

.checkmark-icon {
margin-right: .5rem;
}

.quote {
    & > div {
        display: flex;
        flex-direction: column;
        border: 2.38px solid rgb(221, 220, 220);
        border-radius: 7px;
        font-size: 30px;
        font-weight: 500;
        z-index: 1;
        width: 100%;

        & > quote {
            margin: 0 2rem;
        }

        & > p {
            font-size: 22px;
            margin: .5rem 2rem;
        }
    }
}

.dash {
    margin: 2rem;
    width: 60px;
    height: 4px;
    background: #04985a;
    border: 2px solid rgb(221, 220, 220);
}

.learn {
    font-size: 24px;
    color: #157a87;
    margin: 1rem 2rem;

    &:hover {
        color: black;
        text-decoration: underline;
    }

    &:visited {
        color: none;
    }

}

.woman-n-lab {
    width: 100%;
}

.how-to {
    display: block;
    margin: 3rem 1rem;

    &-header {
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-align: center;
    }
}

.how-to {
    &-section {
        display: flex;
        margin: 1em 0;
    }

    &-icon > img {
        height: 50px;
        width: 50px;
        margin: 0 3.2vw;
    }
}

.how-to-text {
    & > h3 {
        font-size: 24px;
        font-weight: 500;
    }
    
    & > p {
        font-size: 24px;
        font-weight: 400;
        color: #666;
    }
}

.connection{
    display: flex;
    flex-direction: column;

    & > div {
        text-align: center;

        & > h2 {
            font-size: 2.1rem;
        }
    }

    &-app {
        padding: 3rem 1rem;
    }

    &-available {
        padding: 2rem;
        font-size: 1.5rem;
        color: #666;
    }
    
}

.app-logo {
    padding: .4rem;
}