@import 'menu';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-top: 200px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
overflow: hidden;
width: 170px;
margin-left: 15px;
}

.logo img {
display: block;
width: 100%;
margin: -22.75% 0;
}

.nav-list li {
    flex: 1;
}

.nav {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: 2px solid #ddd;

    &-list {
        display: flex;
        margin-left: auto;
        width: 100vw;
    }
}

.text-section {
    font-family: 'Roboto';
    font-size: 22px;
    letter-spacing: 1.5px;

    & > h2 {
        margin-top: 35px;
       padding: 0 2rem; 
       line-height: 1.5;
    }
}

.discover {
    margin-top: 1.8em;
    display: flex;
    align-items: center;

    &-btn{
        width: 92%;
        height: 3.6em;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: bold;
        color: white;
        background: #038650;
        border-radius: 2em;
        border: none;
        margin: 0 auto;
    }

    &-btn:hover {
    background: #037948;
    cursor: pointer;
    transition: all ease-in 0.1s;
    }
}

.services-section {
    display: flex;
    justify-content: center;
    margin-top: 12em;

    & > h2 {
        font-size: 30px;
    }
}

.animal-lovers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    width:100%;
}

.lady-n-dog {
    margin: auto 1em;
    width: 50vw;
    height: 50vw;
}

.guy-n-cat {
    margin: auto 1em;
    width: 50vw;
    height: 50vw;
}

.info {
    margin-top: 3.5em;
}